.container {
    background-color: #000000;
    background-image: url("/images/background/footer.jpg");
    box-shadow: 0px 3px 10px 1px #0000007a;

    .footerWrapper {
        padding: 8rem 4rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4rem;

        h5 {
            color: #fff;
            font-family: Cuprum, sans-serif;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        p,
        a {
            display: block;
            font-family: Cuprum, sans-serif;
            font-size: 1.2rem;
            color: white;
        }

        .info,
        .contact {
            text-align: center;
        }

        .socialMediaContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .socialMedia {
                margin-top: 2rem;
                .socialButton {
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                    border: 1px solid rgba(255, 255, 255, 0);
                    border-radius: 20%;
                    padding: 0.9rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-bottom: 0.85rem;
                    margin-right: 1.5rem;

                    &:hover {
                        transform: scale(1.2);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    .elsofacopyright {
        border-top: 1px solid rgba(255, 255, 255, 0.726);
        max-width: 120rem;
        margin: 0 auto;

        p {
            color: rgba(255, 255, 255, 0.76);
            font-family: Cuprum, sans-serif;
            text-align: center;
            padding: 2rem;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 992px) {
    .container {
        .footerWrapper {
            max-width: 120rem;
            margin: 0 auto;
            grid-template-columns: 24rem 24rem 24rem;
            grid-template-rows: 1fr;
            align-items: flex-start;
            justify-content: center;
            grid-gap: 7rem;

            h5 {
                font-size: 1.7rem;
            }
            p,
            a {
                font-size: 1.4rem;
            }
            .info,
            .contact {
                text-align: left;
            }
        }
    }
}
