.headerContainer {
    background-image: url(/images/header/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: "no-repeat";
    height: 100vh;
    max-height: 1440px;
    padding: 1.2rem;
    box-shadow: 0px 3px 10px 1px #0000007a;

    h4 {
        position: absolute;
        bottom: 7rem;
        right: 3rem;
        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
        font-weight: 400;
        font-size: 1.6rem;
        color: white;
        text-align: right;
    }

    h5 {
        position: absolute;
        right: 3rem;
        bottom: 4rem;
        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
        font-weight: 400;
        font-size: 1.2rem;
        color: white;
    }
}

.gallerySection {
    padding: 1rem;

    h3 {
        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.5rem;
    }
}

.aboutSection {
    padding: 0.75rem;

    h3 {
        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.5rem;
    }

    .aboutUs {
        display: grid;

        .ourImageContainer {
            margin: 1rem;
            text-align: center;

            img {
                background-size: cover;
                background-position: center;
                box-shadow: 1px 4px 8px -2px #00000056;
            }
        }

        .ourImagePlaceholder {
            width: 100%;
            overflow: hidden;
            height: 46rem;

            svg {
                padding: 2rem;
                height: 100%;
            }
        }

        .ourMessage {
            background-color: rgba(255, 255, 255, 0.753);
            padding: 2rem;
            box-shadow: 1px 4px 8px -2px #00000056;
            margin: 0.9rem;

            h4 {
                font-size: 1.5rem;
                font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
                color: #7e0101;
                border-bottom: 1px solid #0000000a;
                margin-bottom: 2rem;
                padding-bottom: 1rem;
                letter-spacing: 5.5px;
            }

            p {
                font-family: Cuprum, sans-serif;
                font-weight: 100;
                line-height: 1.8;
                margin-bottom: 2rem;
                color: #1616168e;
                font-size: 1.3rem;
                text-align: justify;
            }
        }
    }
}

.contactSection {
    padding: 1rem;

    h3 {
        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.5rem;
    }
    .contactContainer {
        height: 60rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 90rem;
        padding: 0.5rem;
        grid-gap: 2rem;
        margin-bottom: 5rem;

        .contactMap {
            box-shadow: 1px 4px 8px -2px #00000056;
        }

        .contactInfoContainer {
            background-color: rgba(255, 255, 255, 0.753);
            padding: 2rem;
            box-shadow: 1px 4px 8px -2px #00000056;

            .contactInfoWrapper {
                a {
                    display: block;
                    font-family: Cuprum, sans-serif;
                    color: rgb(133, 133, 133);
                    letter-spacing: 2px;
                    line-height: 1.7;
                }

                .contactIconHeader {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
                    display: flex;
                    padding-bottom: 1.25rem;

                    & svg {
                        font-size: 2.5rem;
                        color: #7e010180;
                    }

                    h4 {
                        font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
                        font-size: 1.8rem;
                        margin-left: 2rem;
                        font-weight: 200;
                        color: #7e0101;
                    }
                }

                .contactLinks {
                    margin: 3rem 1rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .headerContainer {
        h4 {
            right: 4rem;
            bottom: 8.5rem;
            font-size: 2.3rem;
        }

        h5 {
            font-size: 1.4rem;
        }
    }
    .gallerySection {
        margin: 0 auto;
        min-height: 70rem;

        h3 {
            margin: 6rem 0;
        }
    }

    .aboutSection {
        margin: 0 auto;

        h3 {
            margin: 6rem 0;
        }

        .aboutUs {
            max-width: 120rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
            height: 72rem !important;
            margin: 0 auto;

            .ourImageContainer {
                position: relative;
                height: 70rem;

                img {
                    height: 70rem;
                    width: 100%;
                }
            }

            .ourImagePlaceholder {
                width: 100%;
                overflow: hidden;
                height: 74rem;

                svg {
                    padding: 2rem;
                }
            }

            .ourMessage {
                background-color: #fff;

                h4 {
                    font-size: 1.8rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .contactSection {
        h3 {
            font-family: "Nothing You Could Do", cursive, sans-serif, Arial;
            text-align: center;
            margin: 6rem 0;
            font-size: 2.5rem;
        }
        .contactContainer {
            margin: 0 auto;
            max-width: 120rem;
            height: 60rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;
            margin-bottom: 6rem;

            .contactInfoContainer {
                background-color: #fff;
                padding: 2rem;
                box-shadow: 1px 4px 8px -2px #00000056;
            }
        }
    }
}
